<p-dialog (onHide)="onHideDialog()"
          [(visible)]="displayDialog"
          [draggable]="false"
          [modal]="true"
          [resizable]="false"
          [style]="{ width: '40vw' }"
          appendTo="body">

  <p-header>
    {{title}}
  </p-header>

  <div class="grid">
    <div class="col-12">
      <div class="field">
        <label for="email">Email</label>
        <input
          class="text-ba0se text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="email"
          placeholder="Enter email"
          type="email">
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label for="username">Login</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="username"
          placeholder="Enter login"
          type="text">
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="password">Password</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="password"
          placeholder="Enter password"
          type="password">
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <label for="repassword">Repeat password</label>
        <input
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="repassword"
          placeholder="Repeat password"
          type="password">
      </div>
    </div>
  </div>
  <p-footer>
    <p-button (onClick)="onRegisterClick()"
              icon="pi pi pi-user"
              label="Register"
              pTooltip="Register New User">
    </p-button>
    <p-button (onClick)="onCloseClick()"
              label="Close">

    </p-button>
  </p-footer>
</p-dialog>
