<p-dialog (onHide)="onHideDialog()"
          [(visible)]="displayDialog"
          [draggable]="false"
          [modal]="true"
          [resizable]="false"
          [style]="{ width: '30vw' }">
  <p-header>
    {{title}}
  </p-header>

  <div class="field">
    <label for="login">Login</label>
    <input
      class="text-ba0se text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      placeholder="Enter your login"
      id="login"
      type="text">
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      id="password"
      placeholder="Enter your password"
      type="password">
  </div>
  <p-footer>
    <p-button (onClick)="onLoginClick()"
              icon="pi pi pi-user"
              label="Login"
              pTooltip="Login in">
    </p-button>
    <p-button (onClick)="onCloseClick()"
              label="Close">
    </p-button>
  </p-footer>
</p-dialog>
