<!--<div class="block bg-top text-right p-4 border-round mb-3">1</div>-->
<!--<div class="flex align-items-center justify-content-start">-->
<!--  <div class="hidden w-4rem h-4rem bg-primary font-bold p-4 border-round mr-3">1</div>-->
<!--  <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>-->
<!--  <div class="w-4rem h-4rem bg-primary font-bold flex align-items-center justify-content-center p-4 border-round">3</div>-->
<!--</div>-->
<!--<div class="top-nav-bar flex grid fixed min-w-screen w-screen surface-section">-->
<!--  <a href="/" class="top-nav-bar__home font-light">-->
<!--    <img img="./assets/reddit.png" alt="ehm-dee-chat icon" style="width: 35px;">-->
<!--  </a>-->
<!--  <span style="text-decoration: none">MdChat</span>-->


<!--</div>-->

<div class="grid">
  <div class="col-10 ">
      <a href="/" class="top-nav-bar__home font-light">
        <img img="./assets/reddit.png" style="width: 35px;">
      </a>
      <span style="text-decoration: none">MdChat</span>
  </div>
  <div class="col-2 right-auto">
    <p-button label="Login" (onClick)="onShowSignInDialog()"></p-button>
    <p-button label="Register" (onClick)="onShowSignUpDialog()"></p-button>
  </div>
  <!-- BEGIN: Left side -->
  <div class="col-3">
    <p-panelMenu [model]="menuItems" [style]="{'width':'300px'}" [multiple]="true"></p-panelMenu>
  </div>
  <!-- END: Left side -->
  <!-- BEGIN: Center side -->
  <div class="col-6">
      <main-carousel-component></main-carousel-component>
  </div>
  <!-- END: Center side -->
  <!-- BEGIN: RIght side -->
  <div class="col-3">

  </div>
  <!-- END: Right side -->

</div>

<sign-up-component [displayDialog]="displaySignUpDialog" (onClose)="onCloseSignUpDialog()"></sign-up-component>
<sign-in-component [displayDialog]="displaySignInDialog" (onClose)="onCloseSignInDialog()"></sign-in-component>
